<div class="flex flex-col gap-y-2">
  <label [for]="inputId()" class="text-base font-medium">
    {{ labelText() }}
  </label>

  <input
    #input
    [id]="inputId()"
    [type]="inputType()"
    [placeholder]="inputPlaceholder()"
    [value]="value()"
    [disabled]="disabled()"
    [attr.step]="inputType() === 'number' && activateStep() ? '0.10' : null"
    [attr.maxlength]="activateMax() ? inputMaxValue() : null"
    (input)="onInput($event)"
    (blur)="onBlur()"
    (keydown)="onKeyDown($event)"
    class="input"
  />
</div>
