/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

@theme {
  --color-primary: #2463b5;
  --color-primary-hover: #3d72b7;
  --color-secondary: #ffff;

  --color-border: #cccc;

  --color-text-primary: #363636;
  --color-text-secondary: #f1f5f9;
  --color-text-focused: #a2f4fd;
}

/* Scrollbar global */
html {
  scrollbar-width: auto;
  scrollbar-color: #414141 #020617;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #38bdf8;
  border-radius: 9999px;
  border: 2px solid #020617;
}

::-webkit-scrollbar-thumb:hover {
  background: #0ea5e9;
}

@utility no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

.input {
  min-height: 2.5rem;
  width: 100%;
  border-radius: 0.625rem;
  border: 1px solid #cbd5e1;
  padding: 0.5rem 0.75rem;
  color: #0f172a;
  outline: none;
  font-size: medium;
}

.input:focus {
  border-color: #0891b2;
  box-shadow: 0 0 0 3px rgb(8 145 178 / 0.18);
}
